/* Header (admin) */
header div{
    text-align: center;
}
header div h5{
    position: relative;
    bottom: 10px;

    text-transform: lowercase;
}
header a{
    color: white;

    font-weight: bold;
}
header a:hover{
    border-bottom: 2px solid white;

    transition: linear .1s;
}
/* TypeOfInfo */
.typeOfInfo{
    display: flex;
    justify-content: space-between;

    color:black;

    margin: 75px auto;
}
.typeOfInfo h2{
    width: 130px;

    text-align: center;
    font-weight: bold;

    border: #FF8A00 solid 2px;
    border-radius: 3px;

    padding: 2px;

    cursor: pointer;
}
.typeOfInfo h2:last-child{
    border: #00C508 solid 2px;
}
.typeOfInfo h2:hover{
    background-color: #FF8A00;
    color: white;

    transition: ease 0.2s;  
}
.typeOfInfo h2:last-child:hover{
    background-color: #00C508;
    color: white;
}
/* Search */
.search{
    max-width: 87%;
    color: black;
    text-align: center;

    border-bottom: 3px solid black;

    margin: 50px auto;
}
.search input{
    width: 88%;
    height: 50px;
    font-size: 300%;

    border: 3px solid black;
    border-radius: 3px;

    margin: 50px 0;
}
/* InfoBlocks */
.btn_edit{
    width: 220px;

    background-color: #D27E00;

    border-radius: 3px;
    cursor: pointer;

    margin: 50px auto;

    transition: all 0.2s ease;   
}
.btn_edit:hover{
    background-color: white;
    color: #D27E00;

    text-shadow: none;
}
