*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    font-family: 'Oswald', sans-serif;
    color: white;
}

.content{
    margin: auto;
    max-width: 1070px;
}
/* ==========
 Header
==========*/

header{
    display: flex;

    width: 100%;
    min-height: 180px;
    background-color: black;
    color: white;
}
.header_title span{
    color: red
}
.header_languages{
    display: block;

    margin: 10px;
}
.header_languages a{
    margin-right: 20px;

    color: white;
    transition: 0.1s linear;
}
.header_languages a:hover{
    border-bottom: 3px solid white;
}

/* ==========
Heading Title 
==========*/

.heading_title{
    height: 600px;
    background: url(../images/background.png) center no-repeat;
    background-size: cover;
}
.heading_title h1{
    font-size: 140px;
    margin: auto;
    text-align: center;
    text-shadow: 10px 10px 10px #000;
}

/* ========== 
Main Content 
==========*/

.main_content{
    background: #D6E6FF;
    background-blend-mode: soft-light;
    color: black;
}
.filter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    padding: 110px 0 20px;
    border-bottom: 3px solid black;

    text-align: center;
}
.filter_{
    display: flex;
    justify-content: space-between;

    margin: auto;

    align-items: center;
}
.filter div input, .filter div select{
    width: 200px;
    height: 20px;

    margin-left: 30px;

    border: 3px solid black;
    border-radius: 3px;
}
/* ========== 
Crouise offer
==========*/
.crouise_offers{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    color: white;
}
.crouise_offer{
    width: 300px;
    height: 425px;

    margin-top: 80px;
    text-align: center;

    background-color: #4E5CD9;
    border: 5px solid #3844AF;
}
.crouise_offer img{
    width: 220px;
    height: 240px;

    margin-top: 25px;

    background-color: white;
}
.btn_details{
    width: 220px;

    margin: 50px auto;

    background-color: black;

    border-radius: 3px;
    cursor: pointer;

    transition: 0.2s linear;
}
.btn_details:hover{
    background-color: white;
    color: black;
}
.pages{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

    padding: 10px 0;
}
.pages h3{
    position: relative;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
.pages img{
    width: 20px;
    height: 20px;

    cursor: pointer;
}
/* ========== 
Footer
==========*/
footer{
    height: 300px;

    background-color: black;
}
footer .content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px;
}
.footer_info{
    width: 30%;
    text-align: center;
}
.footer_info ul li {
    margin-top: 20px;
}
.footer_info ul li a{
    color: white;
}
/* ========== 
Popup
==========*/
#popup_details{
    display: none;
}
.popup{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
}
.popup__window{
    width: 1000px;
    height: 770px;

    text-align: center;
    align-content: center;

    background-color: white;
    color: black;

    border: 5px solid black;

    margin: auto;
}
/* Close button */
#btn_popupClose{
    width: 50px;
    
    border: solid black 2px;
    border-radius: 2px;

    cursor: pointer;

    margin: 5px 5px 0 auto;
    padding: 5px 15px;
}
#btn_popupClose:hover{
    background-color: black;
    color: white;
}
/* Close button END*/
.popup__content{
    position: relative;

    padding-top: 40px;
}
.popup__content img{
    width: 500px;
    height: 500px;
}
.popup__info{
    display: flex;
    width: 95%;
    margin: auto;
}
.popup__info--content{
    width: 100%;
}
.popup_info--content--inner{
    display: flex;
    justify-content: space-around;

    margin: auto;
}
.popup__info--parameters{
    text-align: left;
}
.popup__info--parameters h4{
    margin-top: 30px;
}
.popup__info--data{
    text-align: center;
}
.popup__info--data h4{
    margin-top: 30px;
}
.popup_btns{
    display: flex;
    justify-content: space-around;

    align-self: flex-end;

    margin-top: 60px;
}
.popup_btns h2{
    width: 250px;
    border: solid 2px black;
    
    cursor: pointer;

    padding: 20px 3px;

    transition: background-color linear 0.2s;
}
.popup_btns h2:hover{
    background-color: black;
    color: white;
}