*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    font-family: 'Oswald', sans-serif;
    color: white;
}

.content{
    margin: auto;
    max-width: 1070px;
}
/* Header */

header{
    display: flex;

    min-height: 180px;
    background-color: black;
    color: white;
}
.header_title span{
    color: red
}
.header_languages{
    display: block;

    margin: 10px;
}
.header_languages a{
    margin-right: 20px;

    color: white;
    transition: 0.1s linear;
}
.header_languages a:hover{
    border-bottom: 3px solid white;
}
/* Heading Title */
.heading_title{
    height: 600px;
    background: url(background.png) no-repeat;
}
.heading_title h1{
    font-size: 140px;
    margin: auto;
    text-align: center;
    text-shadow: 5px 5px 5px #000;
}
/* Main Content */
.main_content{
    background-color: #0075FF;
}